<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User - Edit page</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel='stylesheet' href='{% static 'crud/css/styles.css' %}' media='screen' title='no title'  charset='utf-8'>
    <!-- Put the static files in the static folder inside your app. -->
    <!-- Django collects files within all static folders and puts them within a single folder --> 
</head>
<body>
    <h1>Django - SemiRestful - Edit User</h1>
    <div id="Edit">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action='/users/update' method='POST'>
            {% csrf_token %}
            <!-- {{ all_users }} -->
            <p><label for="first_name">First Name: <input type="text" name="first_name" id="first_name" value="{{ all_users.first_name }}"></label></p>
            <p><label for="last_name">Last Name: <input type="text" name="last_name" id="last_name" value="{{ all_users.last_name }}"></label></p>
            <p><label for="email_address">Email Address: <input type="text" name="email_address" id="email_address" value="{{ all_users.email_address }}"></label></p>
            <p><input type="submit" value="Update this record"></p>
            <input type="hidden" name="row" value="{{ all_users.id }}">
            <a href="/users">Go Back</a>
        </form>
    </div>
</body>
</html>
