<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Belth Reviewer - Books Details</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel='stylesheet' href='{% static 'beltReviewer/css/styles.css' %}' media='screen' title='no title'  charset='utf-8'>
    <!-- Put the static files in the static folder inside your app. -->
    <!-- Django collects files within all static folders and puts them within a single folder --> 
</head>
<body>
    <div id="container">
        <div class="top">
            <h1>Welcome to Dashboard - Book Details </h1>
            <div class="row">
                <div class="col-one">
                    <h3>Hello {{name}},</h3>
                </div>
                <div class="col-two"><p></p></div>
                <div class="col-three">
                    <a href="/books">Home</a>
                </div>
                <div class="col-four">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <p></p>
            <div class="box-left">
                <h2>{{ bookinfo.title }} by {{ bookinfo.author.author_name }}</h2>
                <p></p>
                <h3>Reviews:</h3>
                {% for review in all_reviews %}
                    {% if review.rating == '1' %}
                        <p>&nbsp; &nbsp;  Rating: &#9733;</p>
                    {% endif %}
                    {% if review.rating == '2' %}
                        <p>&nbsp; &nbsp;  Rating: &#9733;&#9733;</p>
                    {% endif %}
                    {% if review.rating == '3' %}
                        <p>&nbsp; &nbsp;  Rating: &#9733;&#9733;&#9733;</p>
                    {% endif %}
                    {% if review.rating == '4' %}
                        <p>&nbsp; &nbsp;  Rating: &#9733;&#9733;&#9733;&#9733;</p>
                    {% endif %}
                    {% if review.rating == '5' %}
                        <p>&nbsp; &nbsp;  Rating: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    {% endif %}
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/users/{{ review.user.id }}">{{ review.user.first_name }}</a>  says: {{ review.comment }}</p>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; Posted on  {{ review.created_at }}</p>
                {% endfor %}
            </div>
            <div class="box-right">
                <form action="/addreview" method="post">
                    {% csrf_token %}
                    <h2>Add a review</h2>
                    <div class="row">
                        <div class="col-left">Review:</div>
                        <div class="col-right">
                            <textarea rows="3" cols="60" name="review"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-left">Rating:</div>
                        <div class="col-right">
                            <select name="rating" id="rating">
                                <option value="1" selected>&#9733;&#9734;&#9734;&#9734;&#9734;</option>
                                <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                                <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                                <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                                <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-left1"></div>
                        <div class="col-right2">
                            <input type="submit" value="Add Review">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
