<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Belth Reviewer - Books</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel='stylesheet' href='{% static 'beltReviewer/css/styles.css' %}' media='screen' title='no title'  charset='utf-8'>
    <!-- Put the static files in the static folder inside your app. -->
    <!-- Django collects files within all static folders and puts them within a single folder --> 
</head>
<body>
    <div id="container">
        <div class="top">
            <h1>Welcome to Dashboard - Main</h1>
            <div class="row">
                <div class="col-left1">
                    <h3>Hello <a href="/users/{{request.session.id}}">{{name}}</a>,</h3>
                </div>
                <div class="col-right2">
                    <a href="/books/add">Add Book and Review</a>
                </div>
                <div class="col-right3">
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <p></p>
            <div class="box-left">
                <h3>Recent Book Reviews:</h3>
                <div class="list">
                    {% for all_books in review_list %}
                        <div class="list-details">
                            <p>&nbsp; <a href="books/{{ all_books.book_id }}">{{ all_books.book.title }}</a></p>
                            {% if all_books.rating == '1' %}
                                <p>&nbsp; &nbsp; &nbsp; &nbsp; Rating: &#9733;</p>
                            {% endif %}
                            {% if all_books.rating == '2' %}
                                <p>&nbsp; &nbsp; &nbsp; &nbsp; Rating: &#9733;&#9733;</p>
                            {% endif %}
                            {% if all_books.rating == '3' %}
                                <p>&nbsp; &nbsp; &nbsp; &nbsp; Rating: &#9733;&#9733;&#9733;</p>
                            {% endif %}
                            {% if all_books.rating == '4' %}
                                <p>&nbsp; &nbsp; &nbsp; &nbsp; Rating: &#9733;&#9733;&#9733;&#9733;</p>
                            {% endif %}
                            {% if all_books.rating == '5' %}
                                <p>&nbsp; &nbsp; &nbsp; &nbsp; Rating: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            {% endif %}
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="/users/{{ all_books.user.id }}">{{ all_books.user.first_name }}</a>  says: {{ all_books.comment }}</p>
                            <p>&nbsp; &nbsp; &nbsp; &nbsp; Posted on  {{ all_books.created_at }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="box-right">
                <h3>Other Books with Reviews:</h3>
                <div class="list">
                    {% for all_books in book_list %}
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; <a href="books/{{ all_books.id }}">{{ all_books.title }}</a></p> 
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
