<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Belt Reviewer</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel='stylesheet' href="{% static 'beltReviewer/css/styles.css' %}" media='screen' title='no title'  charset='utf-8'>
    <!-- Put the static files in the static folder inside your app. -->
    <!-- Django collects files within all static folders and puts them within a single folder --> 
</head>
<body>
    <div id="container">
        <div>
            <h1>Welcome to Belt Reviewer</h1>
            <p></p>
        </div>
        <div id="flash_message">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div id="registration">
            <form action="/registration" method="post">
                {% csrf_token %}
                <h2>Registration Form</h2>
                <div class="row">
                    <div class="col-left">Your Email:</div>
                    <div class="col-right">
                        <input type='text' name='emailaddress'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">Your First Name:</div>
                    <div class="col-right">
                        <input type='text' name='firstname'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">Your Last Name:</div>
                    <div class="col-right">
                        <input type='text' name='lastname'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">Your Password:</div>
                    <div class="col-right">
                        <input type='text' name='password1'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">Confirm Password:</div>
                    <div class="col-right">
                        <input type='text' name='password2'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left"></div>
                    <div class="col-right">
                        <input type="submit" value="Register">
                    </div>
                </div>
            </form>
        </div>
        <div id="login">
            <form action="/login" method="post">
                {% csrf_token %}
                <h2>Login Form</h2>
                <div class="row">
                    <div class="col-left">Your Email:</div>
                    <div class="col-right">
                        <input type='text' name='email'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left">Your Password:</div>
                    <div class="col-right">
                        <input type='text' name='password'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-left"></div>
                    <div class="col-right">
                        <input type="submit" value="Login">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
