/* * {
    outline: 1px dotted red;
} */
#container {
    width: 800px;
    margin: 0px auto;
}
.row {
    display: inline-block;
    width: 100%
}
.box-left {
    width: 45%;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
}
.box-middle {
    width: 9%;
    margin: 0px;
    display: inline-block;
}
.box-right {
    width: 45%;
    margin-top: 0px;
    display: inline-block;
    vertical-align: top;
}
.col-left {
    width: 40%;
    margin-top: 0px;
    display: inline-block;
}
.col-right {
    width: 40%;
    margin-top: 0px;
    display: inline-block;
}
.col-one {
    width: 60%;
    margin-top: 0px;
    display: inline-block;
}
.col-two {
    width: 10%;
    margin-top: 0px;
    display: inline-block;
    text-align: center;
}
.col-three {
    width: 20%;
    margin-top: 0px;
    display: inline-block;
    text-align: center;
}
.col-four {
    width: 8%;
    margin-top: 0px;
    display: inline-block;
    text-align: center;
}
#flash_message {
    color: red;
    margin: 0px;
}
h1 {
    text-align: center;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
